.vs/MIVET.BE/CopilotIndices/17.14.698.11175/CodeChunks.db-shm
.vs/MIVET.BE/CopilotIndices/17.14.698.11175/CodeChunks.db-shm
.vs/
.vs/MIVET.BE/FileContentIndex/29a7c8b3-b807-4000-9c59-e3b09d478101.vsidx
*.vsidx
